DB_HOST=db
DB_USER=root
DB_PASS=root
DB_NAME=aplikasi_antrian
DB_PORT=3306
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8080
WS_PORT=8081
ADMIN_USERNAME=superadmin
ADMIN_PASSWORD=superadmin@123
